@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

body {
    margin: 0 auto;
    font-size: 20px;
    font-family: "TikTok Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "wdth" 100;
    max-width: 1024px;
    background: linear-gradient(to top right, #ebdec4, white);
}

h1 {
    margin: 0;
}

h2 {
    margin-top: -5px;
}
a {
    color: #fff1d5;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

div.sec1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    margin: 30px 5px;
    text-align: center;
}

div.img {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    font-size: 30px;
    background: linear-gradient(to top right, #2b4c62, #487b9d);
    box-shadow: -5px 5px 15px gray;
}

.img h1.image {
    margin-top: 20px;
    color: #fff8e9;
}

div.bottom {
    margin-top: 20px;
}

.info {
    color: #fbf2df;
    margin: 15px;
    margin-top: -20px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: -5px 5px 15px #808080;
    background: linear-gradient(to top right, #2b4c62, #487b9d);
}
.info div {
    margin-top: 20px;

}

